.col {
    height: 100px;
    /* width: 50px; */
    border: 1px solid black;
    border-radius: 0;
    font-size: 60px;
}
/* body {
    background-image: url('./images/skull.jpg');
    background-position: cover no-repeat;
} */

/* .btn:hover {
    background-image: url(./images/skull.jpg);
    background-position: center;
    background-repeat: no-repeat;
    transition: 0.5sec;
    background-size: 50px;

} */

#boardContainer {
    background-color: rgba(255, 255, 255, 0.7);
    padding: 50px;
    border-radius: 10px;
}

.btn {
    background-color: white;
}

body {
    background-color: black;
}

#resetBtn {
    margin: 5px;
}